.mainWindow {
    display: grid;
    grid-template-rows: 9vh auto;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-image: url("../media/cat_on_fire.jpg");
    background-repeat: no-repeat;
    background-color: rgba(196, 193, 205, 0.5);
    background-size: cover;
    background-position: right right;
    }

.header{
    display:grid;
    grid-template-columns: auto 18vh;
    margin-top: 2.5vh;
}
.content{
    display: grid;
    grid-template-rows: auto 9vh;
}


.banner_button_image{
    width: 6vh;
    height: auto;
    width: 6vh;
    height: 6vh;
    margin-left: 2.5vh;
    cursor: pointer;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#house{
    background-color: rgb(231, 172, 208);
}
.game_window{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    width: 104vh;
    height: 72vh;
    border: 0,15vh solid;
    border-color: black;
}

.last_row_buttons{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 70vh;
}