body{
    background-image:url("../media/cat_on_fire.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;               
}
.mainWindow {
    display: grid;
    grid-template-rows: 20vh auto 10vh;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
a:link {
    color: rgb(173, 46, 0);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: darkorange;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    color: darkred;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
.title{
    text-align:center;
    color: firebrick;
  }
  
  .subtitle{
    text-align:center;
    color:rgb(235, 14, 14);
  }
.sign{
    color: white;
}

#gogamebutton{
    display: block;
    margin: auto;
    width: 5vh;
    height: 30vh;
}


footer{
        display:grid;
        grid-template-columns: auto auto 18vh;
        grid-template-rows: auto;
}
#statisticbutton{
    padding-left: 8.1vh;
}
@media screen and (min-width: 480px) {
    body{
        background-image:url("../media/cat_on_fire.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;               
    }
    .mainWindow {
        display: grid;
        grid-template-rows: 20vh auto 10vh;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
    }
    a:link {
        color: rgb(173, 46, 0);
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: darkorange;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        cursor: pointer;
        color: darkred;
        background-color: transparent;
        text-decoration: underline;
    }
    a:active {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }
    .title{
        text-align:center;
        color: firebrick;
      }
      
      .subtitle{
        text-align:center;
        color:rgb(235, 14, 14);
      }
    .sign{
        color: white;
    }

    #gogamebutton{
        display: block;
        margin: auto;
        width: 30%;
        height: 30%;
    }


    footer{
            display:grid;
            grid-template-columns: auto auto 13vh;
            grid-template-rows: auto;
    }
    #statisticbutton{
        padding-left: 8.1vh;
    }
}
@media screen and (min-width: 720px) and (max-width: 900px) {
    body{
        background-image:url("../media/cat_on_fire.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;               
    }
    .mainWindow {
        display: grid;
        grid-template-rows: 20vh auto 10vh;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
    }
    a:link {
        color: rgb(173, 46, 0);
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: darkorange;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        cursor: pointer;
        color: darkred;
        background-color: transparent;
        text-decoration: underline;
    }
    a:active {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }
    .title{
        text-align:center;
        color: firebrick;
      }
      
      .subtitle{
        text-align:center;
        color:rgb(235, 14, 14);
      }
    .sign{
        color: white;
    }

    #gogamebutton{
        display: block;
        margin: auto;
        width: 30%;
        height: 30%;
    }
       
    h2{
        text-align: center;
    }

    footer{
            display:grid;
            grid-template-columns: auto auto 18vh;
            grid-template-rows: auto;
    }
    #statisticbutton{
        padding-left: 8.1vh;
    }
}
