body{
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 98%;
    background-image:url("../media/cat_on_fire.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;        
    background-color: rgba(196, 193, 205, 0.3);
    background-size: cover;
    background-blend-mode: lighten;          
}
.banner_button_image{
    height: auto;
    width: 8vh;
    height: 8vh;
    margin-bottom: 2.5vh;
    cursor: pointer;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#title {
    text-align: center;
    font-size: 8vh;
    margin-top: 2.5vh;
    color: darkred;
}

.images_spot{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 18vh;
    margin-top: 3.5vh; 
}
.image{
    justify-content: center;
    width: auto;
    height: 30.5vh;
}   
.header{
    display: flex;
    justify-content: space-between; 
}
.content{
    display: flex;
    gap:18vh;
    flex-wrap: wrap;
    justify-content: center;
    
}
#house{
    margin-right: 5vh;
}

#game{
    margin-left: 5vh;
}
#bomb{
    width: 15vh;
    height: auto;
    margin-top: -5vh;
    margin-left: 3vh;
}
@media screen  and (max-width: 720px) {
    title{
        font-size: 4.5vh;
    }
}